.modeal input,select,textarea{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    font-family: Lato;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}
#editor input,select,textarea{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    font-family: Lato;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.#editor select{
    padding-left: 0;
    padding-right: 0;
}
.modeal select{
    padding-left: 0;
    padding-right: 0;
}

#editor table{
    width: 100%;
}
.modeal table{
    width: 100%;
}

#editor .expander-surrounder{
    margin: auto;
}

#editor .expander-td{
    width: 3%;
}

.modeal .right-header th{
    text-align: right;
    padding-right: 9px;
}

.modeal .center-header th{
    text-align: center;
    padding-right: 9px;
    padding-left: 9px;
}

.modeal .center-content td{
    text-align: center;
    padding-right: 9px;
    padding-left: 9px;
}

.modeal ol.skills li input{
    width: 97%;
}

.modeal ol.skills li select{
    width: 97%;
}

.modeal ol.skills li i{
    padding: 3px;
    position: relative;
    top: 6px;
    background: #efefef;
}

.modeal ol.abilities li input{
    width: 97%;
}
.modeal ol.abilities li textarea{
    width: 96.7%;
    resize: vertical;
}

.modeal ol.abilities li i{
    padding: 3px;
    position: relative;
    top: 6px;
    background: #efefef;
}

.modeal .add-icon{
    padding: 3px;
    background: #efefef;
    float: right;
    margin-right: 5px;
    margin-top: -10px;
}

.modeal .save-button{
    width: 49%;
    margin-top: 20px;
    height: 40px;
    background: #efefef;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-shadow: 2px 2px 12px -7px black;
}

#editor body{
    margin: 0;
    font-family: Raleway;
    padding-bottom: 25px;
}

#editor .nav-bar{
    position: fixed;
    width: 100%;
    height: 90px;
    background: white;
}

#editor .nav-bar:after{
    content:''; 
    width:90%; 
    height:1px; 
    background:#efefef; 
    position:absolute;
    bottom:-1px; 
    margin-left: 5%;
}

#editor .navigation-buttons{
    display: inline-flex;
    float: right;
    margin: 30px;
    margin-right: 120px;
    font-family: "Raleway";
    font-size: 13px;
}

#editor .centre-line{
    width: 50px;
    height: 1px;
    background: #a2a2a2;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.modeal .centre-line{
    width: 50px;
    height: 1px;
    background: #a2a2a2;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

#editor span.nav-span {
    line-height: 23px;
    color: #a2a2a2;
}

#editor .icon{

}

#editor .navigation-title{
    padding: 60px;
    font-family: Raleway;
}

#editor .navigation-type{
    color: #a2a2a2;
    position: relative;
    top: -5px;
}

#editor .navigation-name{
    font-weight: 700;
    font-size: 26px;
    margin-left: 10px;
}

#editor .nav-bar{
    top: 0;
    left: 0;
    z-index: 1000;
}

#editor .nav-table{
    width: 100%;
    margin-top: -30px;
}

#editor .nav-spacer{
    height: 90px;
}

#editor .main{
    display:flex;align-items:center;width:100%;
}

#editor .header{
    text-align: center;
}
#editor .header-container{
    position: relative;
}
#editor .header-container:after{
    content: '';
    width: 20%;
    height: 1px;
    background: #efefef;
    position: absolute;
    bottom: -21px;
    margin-left: 40%;
}
#editor .header-container.longer:after{
    width: 80%;
    margin-left: 10%;
}
.modeal .header{
    text-align: center;
}
.modeal .header-container{
    position: relative;
}
.modeal .header-container:after{
    content: '';
    width: 20%;
    height: 1px;
    background: #efefef;
    position: absolute;
    bottom: -21px;
    margin-left: 40%;
}
.modeal .header-container.longer:after{
    width: 80%;
    margin-left: 10%;
}
#editor .content{
    padding: 50px;
    font-size: 18px;
    padding-top: 30px;
}

#editor .expander{
    background: red; */
    /* height: 10px; */
    width: 60%;
    background: white;
}

#editor .expander-surrounder{
    box-shadow: 2px 2px 5px -3px black;
    margin-left: 20%;
    margin-right: 20%;
}

#editor .expander-header{
    width: 100%;
    padding: 13px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

#editor .expander-image{
    width: 25px;position: relative;top: 2px;
}

#editor .spinner{
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
}

#editor .expander-td{
    width: 4%;
}

#editor .expander-content{
    /*    border-top: 1px solid #e2e2e2;*/
    display: none;
}

#editor .global-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 19px;
    position: fixed;
    top: 0;
    z-index: 1001;
    height: 100%;
    background: #f5f5f5;
    box-shadow: 0px 0 2px -1px black;
}

#editor .global-nav i{
    display: block;
    width: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    font-size: 30px;
}

.modeal .modal{
    position: fixed;
    top: 0;
    left: 0;
}

.modeal .modal.back{
    width: 100vw;
    height: 100vh;
    z-index: 10001;
    background: rgba(0, 0, 0, 0.7);
}

.modeal .modal.fore{
    width: 70vw;
    height: 70vh;
    z-index: 10003;
    background: white;
    border: 1px solid #efefef;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    border-radius: 4px;
    overflow-y: auto;
}

#editor button.tab-button {
    background: none;
    border: none;
    min-width: 60px;
    min-height: 40px;
    border: 1px solid #e2e2e2;
    margin: 0;
    padding: 0;
    float: left;
    border-right: none;
}

#editor .tab{
    display: none;
}

#editor .tab:first-child{
    display: block;
}

#editor button.tab-button.active{
    background: #f7f7f7;
}

#editor .tab-button:last-child{
    border-right: 1px solid #e2e2e2;
}
#editor .tab-button img{
    width: 36px;
    height: 36px;
}

#editor button.tab-button.active {
    border-bottom: none;
}

#editor .searchbar{
/*
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    float: right;
    margin-bottom: 20px;
*/
}

#editor .clip-nav{
    width: 0;
    overflow: hidden;
}

#editor .search-container{
    width: 100%;
    position: relative;
    top: -11px;
    left: -10px;
    padding-right: 20px;
    display: inherit;
    box-shadow: 0 3px 11px -7px black;
}

#editor .search-icon{
    color: gray;margin-left: 15px;margin-top: 14px;
}

#editor .search-field{
    width: 91%;
    padding: 10px;
    position: relative;
    border: none;
    top: -7px;
    font-size: 20px;
    top: -5px;
    color: gray;
    font-family: Lato;
}

#editor .search-field:focus{
    border: none;
    outline-width: 0;
}

#editor #search-icons tr{
    cursor: pointer;
}

/*
<div style="
    
">
<i class="material-icons" style="">search</i><input type="text" placeholder="Search.." class="searchbar" style="
    
"></div>
*/

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }