body{
    margin: 0;
    font-family: Nunito;
    padding-bottom: 25px;
}

.nav-bar{
    position: fixed;
    width: 100%;
    height: 90px;
    background: white;
    font-family: Raleway;
}

.nav-bar:after{
    content:''; 
    width:90%; 
    height:1px; 
    background:#efefef; 
    position:absolute;
    bottom:-1px; 
    margin-left: 5%;
}

.navigation-buttons{
    display: inline-flex;
    float: right;
    margin: 30px;
    margin-right: 120px;
    font-family: "Raleway";
    font-size: 13px;
}

.centre-line{
    width: 50px;
    height: 1px;
    background: #a2a2a2;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

span.nav-span {
    line-height: 23px;
    color: #a2a2a2;
}

.icon{

}

.navigation-title{
    padding: 60px;
    font-family: Raleway;
}

.navigation-type{
    color: #a2a2a2;
    position: relative;
    top: -5px;
}

.navigation-name{
    font-weight: 700;
    font-size: 26px;
    margin-left: 10px;
}

.nav-bar{
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-table{
    width: 100%;
    margin-top: -30px;
}

.nav-spacer{
    height: 90px;
}

.main{
    display:flex;align-items:center;width:100%;
}

.header{
    text-align: center;
    font-family: Raleway;
}
.header-container{
    position: relative;
}
.header-container:after{
    content: '';
    width: 20%;
    height: 1px;
    background: #efefef;
    position: absolute;
    bottom: -21px;
    margin-left: 40%;
}
.header-container.longer:after{
    width: 80%;
    margin-left: 10%;
}
.content{
    padding: 50px;
    font-size: 18px;
    padding-top: 30px;
}

.expander{
    background: red; */
    width: 60%;
    background: white;
}

.expander-surrounder{
    box-shadow: 2px 2px 5px -3px black;
    margin-left: 20%;
    margin-right: 20%;
}

.expander-header{
    width: 100%;
    padding: 13px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.expander-image{
    width: 25px;position: relative;top: 2px;
}

.spinner{
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
}

.expander-td{
    width: 4%;
}

.expander-content{
    display: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #8c8c8c;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.global-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 19px;
    position: fixed;
    top: 0;
    z-index: 1001;
    height: 100%;
    background: #f5f5f5;
    box-shadow: 0px 0 2px -1px black;
}

.global-nav i{
    display: block;
    width: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    font-size: 30px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
}

.modal.back{
    width: 100vw;
    height: 100vh;
    z-index: 10001;
    background: rgba(0, 0, 0, 0.7);
}

.modal.fore{
    width: 70vw;
    height: 70vh;
    z-index: 10003;
    background: white;
    border: 1px solid #efefef;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    border-radius: 4px;
    overflow-y: auto;
}

button.tab-button {
    background: none;
    border: none;
    min-width: 60px;
    min-height: 40px;
    border: 1px solid #e2e2e2;
    margin: 0;
    padding: 0;
    float: left;
    border-right: none;
}

.tab{
    display: none;
}

.head{
    font-family: 'Raleway';
}

.body{
    font-family: 'Nunito';
}

.tab:first-child{
    display: block;
}

button.tab-button.active{
    background: #f7f7f7;
}

.tab-button:last-child{
    border-right: 1px solid #e2e2e2;
}
.tab-button img{
    width: 36px;
    height: 36px;
}

button.tab-button.active {
    border-bottom: none;
}

.clip-nav{
    width: 0;
    overflow: hidden;
}

.search-container{
    width: 100%;
    position: relative;
    top: -11px;
    left: -10px;
    padding-right: 20px;
    display: inherit;
    box-shadow: 0 3px 11px -7px black;
}

.search-icon{
    color: gray;margin-left: 15px;margin-top: 14px;
}

.search-field{
    width: 91%;
    padding: 10px;
    position: relative;
    border: none;
    top: -7px;
    font-size: 20px;
    top: -5px;
    color: gray;
    font-family: Lato;
}

.search-field:focus{
    border: none;
    outline-width: 0;
}

#search-icons tr{
    cursor: pointer;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }