/* EXPLORER*/

footer{
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    background: #09498c;
    margin-left: -7px;
    color: white;
    font-size: 11px;
    padding: 4px;
    text-align: right;
}

footer>span{
    margin-right: 13px;
}

.full-width{
    width: 100%;
}

.full-height{
    min-height: 100%;
}
body{
    min-height: 98%;
    margin: 0;
/*    padding: 8px;*/
    padding-bottom: 25px;
}

#explorer .ten.columns{
    padding: 8px;
}

html{
    height: 100%;
}

small{
    margin-right: 10px;
    color: #cdcdcd;
}

.roll-container{

    -webkit-box-shadow: 1px 1px 10px -2px rgba(128,128,128,1);
    -moz-box-shadow: 1px 1px 10px -2px rgba(128,128,128,1);
    box-shadow: 1px 1px 10px -2px rgba(128,128,128,1);
}
table.roll-table{
    width: 100%;
    margin-bottom: 0;
}

table.roll-table tr{
    border: none;
}

table.roll-table td{
    border: none;
    text-align: center;
    padding: 0;
    height: 60px;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
}

table.roll-table th{
    border: none;
    text-align: center;
}

table.roll-table td.empty{
    cursor: default !important;
}

td[class^="d"]{
    color:white;
    width: 25%;
}

.tb{
    background: rgb(48,48,48);
    color: white;
}

table.roll-table td:not(td[class^="d"]){
    background: rgb(48,48,48);
}

td.d2{
    background: rgb(63, 81, 181);
}

td.d3{
    background: rgb(103, 58, 183);
}

td.d4{
    background: rgb(183,28,28);
}

td.d6{
    background: rgb(255,87,34);
}

td.d8{
    background: rgb(255,193,7);
}

td.d10{
    background: rgb(139,195,74);
}

td.d12{
    background: rgb(0,150,136);
}

td.d20{
    background: rgb(33,150,243);
}
.roll-general{
    width: 97%;
    /* margin-bottom: 0; */
    margin: 7px;
}

#sidebar{
        padding: 10px;
    height: 100vh;
    position: absolute;
    right: 0;
    background: rgb(75,72,73);
        box-shadow: 0px 0px 8px #4b4849;
}

.nav-button>i{
    padding-left: 10px;
    padding-right: 10px;
}

.nav-button{
    width: 100%;
}

#search-type{
    width: 100%;
    margin-top: -14px;
}

.search-results li{
    padding: 10px;
    margin: 0;
}

.search-results li:hover{
    background: whitesmoke;
    cursor: pointer;
}

.search-results ul{
    list-style: none;
}

.search-results type{
    float: right;
    margin-right: 25px;
    font-size: 10px;
    line-height: 24px;
    color: #b3b3b3;
}

.stats-table *{
    text-align: center;
}

span.type{
    float: right;
    font-size: 11px;
    color: #c5c5c5;
    line-height: 23px;
}

.loading-div{
    width: 80px;
    height: 80px;
    position: fixed;
    background: rgba(138, 0, 0, 0.6);
    bottom: 40px;
    right: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 43px;
    color: white;
}

/*//LOADER*/

#loader-div{
    display: block;
    width: 104%;
    height: 97.5vh;
    overflow: hidden;
/*    background: rgb(138,186,135);*/
    margin: 0;
    margin-top: -8px;
    margin-left: -8px;
/*    color:white;*/
}

.load-button{
    width: 100%;    
    font-family: Roboto;    
    font-size: 16px;    
    font-weight: 100;
    /* padding-top: 10px; */ 
    /* padding-bottom: 10px; */
    height: 48px;
    margin-top: 19px;
    
    /*OLD */
    /*    width: 100%;*/
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /*
    border: none;
    font-family: 'Roboto';
    font-weight: 200;
    font-variant: normal;
    text-transform: none;
    font-size: 20px;
    color: #d2d2d2;
    */
}